/* fonts */
@import './typography.css';
@import url('https://use.typekit.net/byk3ckw.css');

/* variables */
:root {
  --background-color-grey: #fcfafc;
  --background-color-pop: #f8e8ff;
  --yellow: #ffaa0b;
  --linear-gradient: linear-gradient(345deg, #b31aff, #ff006e, #ffaa0b);
  --smaller-text-size: 0.8em;
  --uppercase-letter-spacing: 0.7px;
  --text-color: #11001a;
  --text-color-pop: #8800cc;
  --section-margin-top: 9.333rem;
  --single-item-margin-top: 5.333rem;
  --sub-item-margin-top: 1.333rem;
  --mobile-section-margin-top: 12rem;
  --mobile-single-item-margin-top: 8rem;
}

/* elements */
html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'HK Grotesk Regular', sans-serif;
  font-size: 18px;
  line-height: 180%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.333rem 4rem;
}

h1 {
  font-family: 'ivypresto-text', serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'ivypresto-text', serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

:focus,
:focus-visible {
  outline-color: var(--text-color-pop);
}
input:focus,
textarea:focus {
  outline: 3px solid var(--text-color-pop);
}

.not-found {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 3rem;
}
.not-found h1 {
  margin-bottom: 0.5rem;
}
.not-found .link {
  font-family: 'ivypresto-text', serif;
  font-weight: 600;
  font-size: var(--smaller-text-size);
  text-decoration: underline;
  color: var(--text-color);
  opacity: 70%;
  margin-top: 1rem;
  transition: all 0.3s ease;
}
.not-found .link:hover {
  color: var(--text-color-pop);
  opacity: 100%;
}

/* buttons */
.button {
  position: relative;
  background: transparent;
  border-radius: 10px;
  border: var(--yellow) 3px solid;
  font-family: 'HK Grotesk Bold', sans-serif;
  text-decoration: none;
  color: var(--text-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0.667em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
}
.hero .button {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.button:before {
  content: '';
  position: absolute;
  inset: -4px;
  border-radius: inherit;
  background: rgb(255, 170, 11);
  background: linear-gradient(
    160deg,
    rgba(255, 170, 11, 1) 0%,
    rgba(238, 42, 10, 1) 50%,
    rgba(179, 26, 255, 1) 100%
  );
  opacity: 0%;
  z-index: -1;
  transition: opacity 0.5s ease;
}
.button:hover:before {
  opacity: 100%;
}
.button:hover {
  border-color: transparent;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.hero .button:hover {
  text-shadow: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Section Title */
.section-title {
  position: relative;
}
.section-title:before {
  content: '';
  position: absolute;
  top: 13%;
  left: -0.65em;
  width: 0.6em;
  height: 0.6em;
  background-image: url('../images//triangle-motif.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 80%;
  z-index: -1;
}

/* Footer */
.footer {
  align-self: center;
  font-size: var(--smaller-text-size);
  text-align: center;
  margin-top: 15.333rem;
}
.footer a,
.footer span {
  text-decoration: none;
  color: var(--text-color);
  opacity: 60%;
  transition: all 0.2s;
}
.footer a:hover {
  text-decoration: underline;
  color: var(--text-color-pop);
  opacity: 100%;
}

/*  */
/*  */
/* Home */
/*  */
/*  */

/*  */
/* Hero */
/*  */
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero:before {
  content: '';
  position: absolute;
  top: -2.333rem;
  right: -4.8rem;
  bottom: 0;
  left: -4.8rem;
  background-image: url('../images/hero-large.png');
  background-position: top;
  background-size: cover;
  mix-blend-mode: multiply;
  z-index: -2;
}
.hero:after {
  content: '';
  position: absolute;
  top: -2.333rem;
  right: -4.8rem;
  bottom: 0;
  left: -4.8rem;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: -2;
}

/* Header */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  display: flex;
}
.logo {
  width: 3.333rem;
  height: 3.333rem;
}
.header-email {
  font-family: 'HK Grotesk Regular', sans-serif;
  font-weight: bold;
  opacity: 80%;
  transition: all 0.2s;
}
.header-email:hover {
  text-decoration: underline;
  color: var(--text-color-pop);
  opacity: 100%;
}

/* Hero Text */
.hero-text {
  max-width: 31rem;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
}
.hero-text > p {
  max-width: 29rem;
  opacity: 90%;
  margin-top: 1.333rem;
  margin-bottom: 8rem;
}

/* Hero Scroll */
.hero-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  opacity: 95%;
  padding-bottom: 1rem;
}
.hero-scroll p {
  color: white;
  font-family: 'HK Grotesk Italic', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: var(--smaller-text-size);
  text-transform: lowercase;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.1rem;
}
.hero-scroll img {
  width: 13px;
  height: 16px;
  animation: arrow 1s linear infinite alternate;
}

@keyframes arrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30%);
  }
}

/*  */
/* Portfolio */
/*  */
.portfolio {
  margin-top: var(--section-margin-top);
}
.portfolio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--single-item-margin-top);
}

/* Portfolio Text */
.portfolio-text {
  flex: 1;
  height: fit-content;
  margin-right: 2rem;
  cursor: pointer;
}
.portfolio-text .label {
  font-family: 'HK Grotesk Bold', sans-serif;
  font-size: var(--smaller-text-size);
  letter-spacing: var(--uppercase-letter-spacing);
  text-transform: uppercase;
  color: var(--text-color-pop);
  opacity: 80%;
  margin-bottom: -0.25em;
}
.portfolio-text .title {
  position: relative;
  width: max-content;
  line-height: 100%;
}
.portfolio-text .title:before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background: var(--linear-gradient);
  opacity: 0%;
  z-index: -1;
  transition: opacity 0.3s ease;
}
.portfolio-text:hover .title:before {
  opacity: 100%;
}
.portfolio-text .description {
  margin-top: 0.5rem;
}
.portfolio-text .tags {
  font-size: var(--smaller-text-size);
  font-family: 'HK Grotesk Italic', sans-serif;
  font-style: italic;
  opacity: 60%;
  margin-top: 0.5rem;
}
/* Portfolio Img */
.portfolio-img {
  flex: 1;
  display: grid;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(17, 0, 26, 0.1);
}
.portfolio-img img {
  width: 100%;
  height: 100%;
}
/* Case Study Link */
.case-study-link {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
  margin-top: 1rem;
  cursor: pointer;
}
.case-study-link span {
  font-family: 'ivypresto-text', serif;
  font-weight: 600;
}
.case-study-arrow {
  display: flex;
}
.case-study-arrow img {
  max-width: 0.7rem;
  max-height: 100%;
  transform: rotate(-90deg);
  margin-left: 1rem;
  transition: all 0.4s;
}
.case-study-link:hover img {
  margin-left: 1.5rem;
}
.case-study-link:before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: var(--linear-gradient);
}

/*  */
/* Testimonials */
/*  */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: fit-content;
  margin-top: var(--section-margin-top);
}
.testimonials h1 {
  width: 100%;
}
.single-testimonial {
  display: flex;
  margin-top: var(--single-item-margin-top);
}
.testimonial-img {
  height: 7.333rem;
  width: 7.333rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2rem;
}
.testimonial-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-text {
  flex: 1;
  max-width: 30rem;
}
.testimonial-text .text {
  font-family: 'HK Grotesk Italic', sans-serif;
  font-style: italic;
}
.testimonial-text .name {
  margin-top: 1rem;
}
.testimonial-text .title {
  opacity: 60%;
  margin-top: -8px;
  font-size: var(--smaller-text-size);
}
.testimonials .button {
  margin-top: var(--single-item-margin-top);
}

/*  */
/*  */
/* Portfolio Page */
/*  */
/*  */
.portfolio-page {
  display: flex;
  flex-direction: column;
}

/* Portfolio Intro */
.portfolio-page-intro {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
  padding: 2rem 0;
}
.portfolio-page-intro:before {
  content: '';
  position: absolute;
  top: 0;
  right: -4.8rem;
  bottom: 0;
  left: -4.8rem;
  background-color: var(--background-color-grey);
  z-index: -1;
}
.portfolio-page .button {
  align-self: center;
}
.portfolio-page-intro-text {
  flex: 1;
  margin-right: 2rem;
}
.portfolio-page-intro-text .subtitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.portfolio-page-intro-text h3 {
  font-family: 'HK Grotesk Regular', sans-serif;
  font-size: var(--smaller-text-size);
  letter-spacing: var(--uppercase-letter-spacing);
  text-transform: uppercase;
  opacity: 90%;
  color: var(--text-color-pop);
}
.portfolio-page-intro-text .service {
  font-size: var(--smaller-text-size);
  opacity: 70%;
}
.portfolio-page-intro-text p:last-of-type {
  margin-bottom: 2rem;
}
.portfolio-page-intro-text .website {
  font-size: var(--smaller-text-size);
  text-decoration: underline;
  opacity: 70%;
}
.portfolio-page-intro-img {
  position: relative;
  flex: 1;
  display: grid;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(17, 0, 26, 0.1);
}
.portfolio-page-intro-img img {
  width: 100%;
  height: 100%;
}

/* Portfolio Case Study */
.case-study {
  align-self: center;
  max-width: 40rem;
}
.casestudy-section {
  margin-top: var(--single-item-margin-top);
}
.casestudy-section p {
  margin-top: var(--sub-item-margin-top);
}
.casestudy-section .image-group {
  margin-top: 2.3rem;
}
.casestudy-section .caption {
  width: fit-content;
  background-color: var(--background-color-pop);
  border-radius: 0.667rem;
  font-family: 'HK Grotesk Bold', sans-serif;
  font-size: var(--smaller-text-size);
  opacity: 80%;
  padding: 0.3em 0.667em;
}
.casestudy-image {
  margin-top: 0.5rem;
}
.casestudy-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(17, 0, 26, 0.1);
}
.portfolio-page .button-end {
  margin-top: var(--single-item-margin-top);
}

/*  */
/*  */
/* Contact Page */
/*  */
/*  */
.contact {
  display: flex;
  flex-direction: column;
}
.contact-content {
  align-self: center;
  max-width: 40rem;
  margin-top: var(--single-item-margin-top);
}
.contact-content .subtitle {
  margin-top: 1rem;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: var(--sub-item-margin-top);
}
.contact-form label {
  font-family: 'HK Grotesk Bold', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--uppercase-letter-spacing);
  opacity: 80%;
  margin-top: var(--sub-item-margin-top);
}
.contact-form textarea {
  resize: none;
}
.contact-form input,
.contact-form textarea {
  -webkit-appearance: none;
  background-color: var(--background-color-grey);
  border: none;
  border-radius: 4px;
  font-family: 'HK Grotesk Regular', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 0.5rem;
}
.contact-form ::placeholder {
  color: var(--text-color);
  opacity: 50%;
}
.submit-container {
  display: flex;
}
.contact-form #submit-button {
  transform: translateX(-19%);
  font-size: 1rem;
  margin-top: var(--sub-item-margin-top);
  cursor: pointer;
}
.contact-form #submit-button.submitted {
  transform: translateX(0);
  border: none;
  color: var(--text-color);
  padding-left: 0.5rem;
  transition: all 0.4s;
  cursor: default;
}
.contact-form button.submitted:hover {
  color: var(--text-color) !important;
  box-shadow: none;
}
.contact-form button.submitted::before {
  background: transparent;
  border: none;
}
.checkmark {
  display: flex;
  position: relative;
  width: 1rem;
  height: 1rem;
  transform: translateX(-100%);
  overflow: hidden;
  border-radius: 50%;
  background-image: var(--gradient-image);
  background-position: center;
  background-size: cover;
  opacity: 0%;
  margin-top: var(--sub-item-margin-top);
  padding: 0.5rem;
}
.checkmark.submitted {
  opacity: 100%;
  transform: translateX(0);
  transition: all 0.4s;
}
.checkmark img {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*  */
/*  */
/* Media Queries */
/*  */
/*  */
@media (max-width: 1020px) {
  html {
    font-size: 16px;
  }
  .hero-text {
    margin-top: 12rem;
  }
  .hero-text > p {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .testimonial-text {
    max-width: 30rem;
  }
}

@media (max-width: 840px) {
  main {
    padding: 1.333rem 2.5rem;
  }
  nav .button {
    font-size: var(--smaller-text-size);
  }
  .hero:before {
    background-image: url('../images/hero-med.png');
    background-position: 50%;
  }
  .hero-text {
    margin-top: 15rem;
  }
  .portfolio-item:first-of-type {
    margin-top: var(--single-item-margin-top);
  }
  .portfolio-item {
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--mobile-single-item-margin-top);
  }
  .portfolio-text {
    margin-bottom: 1rem;
  }
  .portfolio-text .tags {
    margin-top: 0.5rem;
  }
  .portfolio-img {
    margin-top: 1rem;
  }
  .case-study-link {
    display: flex;
  }
  .testimonials {
    margin-top: var(--mobile-section-margin-top);
  }
  .single-testimonial {
    flex-direction: column;
  }
  .testimonial-img {
    margin-bottom: 1rem;
  }
  .testimonial-text .name {
    margin-top: 1.5rem;
  }
  .portfolio-page-intro {
    flex-direction: column;
    align-items: flex-start;
  }
  .portfolio-page-intro-text {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  main {
    padding: 1rem 1.8rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .hero .logo {
    width: 3rem;
    height: 3rem;
  }
  .hero .button {
    display: none;
  }
  .hero:before {
    height: 28rem;
    background-position: 80%;
  }
  .hero:before {
    background-position: center;
    padding-bottom: 5rem;
  }
  .hero-text {
    text-shadow: none;
    margin-top: 8rem;
  }
  .hero-text h1 {
    line-height: 143%;
  }
  .hero-text p span {
    padding: 0.219rem;
  }
  .hero-text span {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero-scroll {
    display: none;
  }
  .portfolio {
    margin-top: var(--single-item-margin-top);
  }
  .portfolio-text .title {
    margin-bottom: 0.2rem;
  }
  .portfolio-text .title:before {
    display: none;
  }
  .contact ::placeholder {
    color: var(--text-color);
    opacity: 70%;
  }
}

@media (max-width: 419px) {
  .hero:before {
    background-image: url('../images/hero-small.png');
  }
  .hero-text {
    margin-top: 6rem;
  }
}

@media (max-width: 395px) {
  .hero-text {
    margin-top: 6rem;
  }
}
