@font-face {
  font-family: 'HK Grotesk Black';
  src: url('../fonts/HKGrotesk-Black.otf');
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk Bold';
  src: url('../fonts/HKGrotesk-Bold.otf');
  font-display: swap;
}
